@model IEnumerable<Portal.AdminSystem.Models.ClientModel>

@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>All Clients</h4>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientMailAlias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientMailAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClientID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClientID })
            </td>
        </tr>
    }
</table>