@model Portal.AdminSystem.Models.ExecUsersViewModel

@{
    ViewBag.Title = "New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="Container2">
            <div class="left">
                <img src="~/Images/Execcare.png" width:"100%"style="display: block;" />
                <h4 class="greyPortal"><strong>@ViewBag.Title</strong></h4>
            </div>
            <p class="right">
                <img src="~/Images/healthinsite.png" width:"100%"style="display: block;" />
            </p>
            <br />
            <br />
            <hr class="exechr" />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group greyPortal">
                @Html.LabelFor(model => model.ExecName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExecName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExecName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group greyPortal">
                @Html.LabelFor(model => model.ExecSurname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExecSurname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExecSurname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group greyPortal">
                @Html.LabelFor(model => model.ExecEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExecEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExecEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group greyPortal">
                @Html.LabelFor(model => model.ExecPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExecPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExecPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group greyPortal">
                @Html.LabelFor(model => model.TypeID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TypeID, Model.TypeList, "Select Type", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group greyPortal">
                @Html.LabelFor(model => model.ExecRegionID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ExecRegionID, Model.RegionList, "Select Region", new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="portalbtn btn-default" />
                    <input type="reset" value="Reset" class="portalbtn btn-default" />
                    <input type="button" id="cancel" value="Cancel" class="portalbtn btn-default" onclick="location.href='@Url.Action("Index","Home")'; " />
                </div>
            </div>
        </div>
        </div>
}
<br />
